%h1 Take quiz
%h3= "Name: #{@quiz.name}"
%h4 Questions:
- form_for :quiz, @quiz, :url => { :action => "create" } do |f|
  %table
    - @questions.each do |question|
      %tr
        %td=question.id
        %td=question.question_text
        %td
           = f.fields_for :answers, ans do |ans_form| |
             ans_form.text_field :value, :label => 'value'







      
