%h1 Take quiz
%h3= "Name: #{@quiz.name}"
%h4 Questions:
- form_for :quiz, @quiz, :url => { :action => "create" } do |f|
  %table
    - for question in @quiz.questions
      %tr
        %td=question.id
        %td=question.question_text
        %td= f.textfield :answer[question.id]






      
