%p.question
  Question:
  = f.text_field :question_text
  - if f.object.new_record?
    = link_to_function "remove", "$(this).up('.question').remove()"
  - else
    = f.label :_delete, 'Delete:'
    = f.check_box :_delete
